/*  Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  color: #fff;
  padding-bottom: 1rem;
}

.sub-header {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  color: #fff;
  padding-bottom: 1rem;
  padding-bottom: 0;
}

#nextSlide, #prevSlide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2rem;
  width: 2rem;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}

.carousel-photo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20rem;
  background-color: white;
  color: black;
}

.move-bttns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.move-bttns > button {
  margin: 5px;
}

.moveRight, .moveLeft {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.261);
  padding: 5px;
  cursor: pointer;
}

.active {
  background-color: rgba(12, 239, 255, 0.754);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(12, 239, 255, 0.754);
          box-shadow: 0px 0px 10px 0px rgba(12, 239, 255, 0.754);
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  height: 12px;
  width: 12px;
}

.label {
  background-color: #afafaf;
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  height: 7px;
  width: 7px;
  cursor: pointer;
}

.label:hover {
  background-color: rgba(12, 239, 255, 0.754);
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
}
/*# sourceMappingURL=main-style.css.map */